<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Europe Weather Forecast API</h1>
    <p>Klein Tank, A.M.G. and Coauthors, 2002. Daily dataset of 20th-century surface
    air temperature and precipitation series for the European Climate Assessment.
    Int. J. of Climatol., 22, 1441-1453.
    Data and metadata available at https://www.ecad.eu</p>
</head>
<body>
<br>
<h2>For all data of a particular station: </h2>
<p>URL format: http://127.0.0.1:5000/api/v1/all/station</p>
<p>Example   : <A HREF="http://127.0.0.1:5000/api/v1/all/10">
    http://127.0.0.1:5000/api/v1/all/10</A></p>
<br>
<h2>For a Station in a particular Year: </h2>
<p>URL format: http://127.0.0.1:5000/api/v1/yearly/station/year</p>
<p>Example   : <A HREF="http://127.0.0.1:5000/api/v1/yearly/10/2000">
    http://127.0.0.1:5000/api/v1/yearly/10/2000</A></p>
<br>
<h2>For a Station in a particular day: </h2>
<p>URL format: http://127.0.0.1:5000/api/v1/day/station/date</p>
<p>Example   : <A HREF="http://127.0.0.1:5000/api/v1/day/10/2000-10-24">
    http://127.0.0.1:5000/api/v1/day/10/2000-10-24</A></p>
<br>
<h2>For data of a particular station in range of date: </h2>
<p>URL format: http://127.0.0.1:5000/api/v1/range/station/from/to</p>
<p>Example   : <A HREF="http://127.0.0.1:5000/api/v1/range/10/1900-01-01/1950-12-31">
    http://127.0.0.1:5000/api/v1/range/10/1900-01-01/1950-12-31</A></p>
<br>
<br>
<p>See <a href="/table_station/">Table Stations</a></p>

</html>